@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');

h1 {
    font-family: Open Sans;
}

p {
    font-family: Nunito;
    text-align: center;
}

td {
    font-family: Nunito;
}

h4 {
    font-family: Nunito;
}

footer {
    background-color: black;
    margin-right: -30%;
    margin-left: -40%;
}

h3 {
    font-family: Open Sans;
    color:white;
    text-align: center;
}

h2 {
    font-family: Open Sans;
}

li {
    font-family: Nunito;
}